# Add your venv folder to .gitignore if inside your project folder
/jims_venv

# Add __pychache__ to .gitignore
**/src/jims_project/jims_app/__pycache__
**/src/jims_project/jims_project/__pycache__

# Add .vscode to .gitignore if you have custom settings
/.vscode

*.pyc