# Add your venv folder to .gitignore if inside your project folder
/jims_venv

# Add __pychache__ to .gitignore
*/__pycache__/

# Add .vscode to .gitignore if you have custom settings
/.vscode

src/jims_project/jims_app/management/*

 *.pyc