{% extends 'accounts_navigation.html' %}
{% load static %}

{% block account_content %}

{% if accounts %}
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Account Number</th>
            <th>Inmate ID</th>
            <th>Balance</th>
        </tr>
        </thead>
        <tbody>
        {% for account in accounts %}
        <tr>
            <td>{{ account.account_number }}</td>
            <td>{{ account.inmate_id }}</td>
            <td>$ {{ account.balance }}</td>
        </tr>
        {% endfor %}
        </tbody>
  </table>

{% else %}
    <p>No Accounts found.</p>
{% endif %}
  
{% endblock account_content %}