{% extends 'accounts_navigation.html' %}
{% load static %}

{% block account_content %}
    <div class="search-number">
        <form class="search-account" action="{% url 'get_all_transaction_details' %}" method='POST'>
            {% csrf_token %}
            <div class="mb-3">
                <label for="search_num" class="form-label">Enter Account Number</label>
                <input type="text" class="form-control" name="search_num" id="search_num">
            </div>
            <button type="submit" class="btn btn-primary">Get all transactions</button>
        </form>
    </div>
    
{% endblock account_content %}
