{% extends 'base.html' %}
{% load static %}

{% block extrahead %}
    <link rel="stylesheet" href="{% static 'css/accounts.css' %}">
{% endblock %}

{% block content %}
    <h1>Accounts</h1>

    <div class="account-container">
        <div class="sidenav">
            <ul>
            <ul> <a href="/accounts/home">Accounts Operations</a> </ul>
            <ul> <a href="/accounts/transactions-details-form">Transaction Details</a> </ul>
            <ul> <a href="/accounts/search-name">Search by Name</a> </ul>
            </ul>
        </div>
        
        <div class="main-account">
            {% block account_content %}
            {% endblock account_content %}
        </div>
    <div>
{% endblock content %}