<head>
  <link rel="stylesheet" type="text/css" href="../static/css/booking.css">
</head>

{% extends 'base.html' %}
{% block content %}
<div class="parent-div">
    <div class="tab-container">
        <button class="tab-button active" onclick="showTab(event, 'tab1')" data-done="true">Traits</button>
        <button class="tab-button" onclick="showTab(event, 'tab2')" data-done="false">Health Sheet</button>
        <button class="tab-button" onclick="showTab(event, 'tab3')" data-done="false">Vehicle Information</button>
    </div>

    <div id="tab1" class="tab-content">
      <div class="form-container">
          <form method="post" class="two-column-form">
              {% csrf_token %}
              {{ form.as_p }}
              <button type="button" onclick="submitForm(event, 'tab1')">Save and Continue</button>
          </form>
      </div>
    </div>

    <div id="tab2" class="tab-content" style="display:none">
        <h2>Tab 2</h2>
        <p>This is the content for Tab 2.</p>
    </div>

    <div id="tab3" class="tab-content" style="display:none">
        <h2>Tab 3</h2>
        <p>This is the content for Tab 3.</p>
    </div>
</div>

<script>
    function showTab(evt, tabName) {
        var i, tabcontent, tablinks, button;

        // Check if the tab is done before proceeding
        button = evt.currentTarget;
        if (button.getAttribute("data-done") === "false") {
            return;
        }

        // Hide all tab content
        tabcontent = document.getElementsByClassName("tab-content");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }

        // Remove active class from tab buttons
        tablinks = document.getElementsByClassName("tab-button");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }

        // Show the clicked tab content and set the active class to the clicked tab button
        document.getElementById(tabName).style.display = "block";
        evt.currentTarget.className += " active";
    }

    function submitForm(evt, tabName) {
        var tabButton;

        // Add form submission logic here

        // Set the tab button's done property to true
        tabButton = document.querySelector('.tab-container [onclick="showTab(event, \'' + tabName + '\')"]');
        tabButton.setAttribute("data-done", "true");

        // Navigate to the next tab
        if (tabName === 'tab1') {
            showTab({ currentTarget: tabButton.nextSibling }, 'tab2');
        }
    }
</script>

{% endblock %}
