{% extends 'base.html' %}
{% block content %}
<head>
  <link rel="stylesheet" type="text/css" href="../static/css/booking.css">
</head>
<div class="parent-div">
    <div class="tab-container">
        <a class="tab-button active" href="{% url 'add_inmate' %}">General Traits</a>
        <a class="tab-button" href="{% url 'inmate_arrest_info' %}">Arresting Information</a>
        <a class="tab-button" href="#tab3">Health Information</a>
        <a class="tab-button" href="#tab4">Gang Affiliation</a>
        <a class="tab-button" href="#tab5">Vehicle Disposition</a>
        <a class="tab-button" href="#tab6">Inventory</a>
    </div>

    <form method="post" action="{% url 'inmate_arrest_info' %}" id="inmate-arrest-info-form">
        {% csrf_token %}
        <div class="parent-div">
            <div id="tab2" class="tab-content">
                <div class="form-container">
                    {{ inmate_arrest_info_form.as_p }}
                </div>
                <button type="submit">Continue</button>
                <button type="button" onclick="location.href='{% url 'add_inmate' %}'">Back</button>
            </div>
        </div>
    </form>
</div>
{% endblock %}
