{% extends 'inmate_booking_base.html' %}

{% load static %}

{% block inmate_content %}
    <form method="post" action="{% url 'inmate_health_sheet' %}" id="inmate-form">
        {% csrf_token %}
        <div class="parent-div">
            <div id="tab1" class="tab-content">
                <div class="form-container">
                    {% for field in inmate_health_sheet_form %}
                        <div class="form-field">
                            {{ field.label_tag }}
                            {{ field }}
                            {% if field.errors %}
                                <div class="field-error">
                                    {{ field.errors.0 }}
                                </div>
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
                <button type="submit">Continue</button>
                <button type="button" onclick="location.href='{% url 'inmate_arrest_info' %}'">Back</button>
            </div>
        </div>
    </form>
{% endblock %}
