<!DOCTYPE html>
<html>
<head>
	<title>Login Form</title>
	<link rel="stylesheet" type="text/css" href="../static/css/login.css">
</head>
<body>
	<h1>Jail Information Managment System</h1>
	<h2>Please Login With Your Credentials To Access The System</h2>
	<form method="post" action="{% url 'login' %}">
		{% csrf_token %}
		<label for="username">Email:</label>
		<input type="text" id="username" name="username" required><br><br>
		<label for="password">Password:</label>
		<input type="password" id="password" name="password" required><br><br>
		<input type="submit" value="Login">
		
		<form action = "{% url 'signup' %}" method = "POST">
			{% csrf_token %}
			<input type="submit" style="margin-left: 50px;" value="New user"/>
		</form>
	</form>
	<form method="POST" action= "{% url 'home_page' %}"> 
		{% csrf_token %}
		<button>Home</button>
		</form>
</body>
</html>