{% extends 'base.html' %}
{% load static %}

{% block extrahead %}
    <link rel="stylesheet" href="{% static 'css/inmate.css' %}">
{% endblock %}

{% block content %}
    <div class="search-bar">
        <form action="{% url 'get_inmate_details' %}" method='POST'>
            {% csrf_token %}
            <div class="mb-3">
                <label for="search_type" class="form-label">Choose Search Type</label>
                <select name="search_type" id="search_type">
                    <option selected value="full_list">Full List</option>
                    <option value="by_first_name">By First Name</option>
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Get all transactions</button>
        </form>
    </div>

{% endblock content %}