.account-container{
    display: flex;
}

.sidenav {
    height:max-content;
    width:25%;
    z-index:1;
    top:0;
    left:0;
    background-color:#111;
    overflow-x:hidden;
}

.sidenav a {
    padding:6px 8px 6px 16px;
    text-decoration: none;
    font-size:25px;
    color: #818181;
    display:block;
}

.sidenav a:hover{
    color:#f1f1f1;
}	

.main-account{
    margin-left:2%;
    width: 70%;
}

.search-number{
    margin-top: 2%;
}

.table {
    border-collapse: collapse;
    width: 100%;
}

.table th, .table td {
    text-align: left;
    padding: 8px;
}

.table th {
    background-color: #ddd;
}

.table tr:nth-child(even) {
    background-color: #f2f2f2;
}
