
form,
.tab-container {
    border: 1px solid #ccc;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

form {
    padding: 20px;
    margin: 15px auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
}

label[for="first_name"],
label[for="last_name"],
label[for="middle_name"] {
    grid-column: 1 / 2;
}

input#first_name,
input#last_name,
input#middle_name {
    grid-column: 2 / 3;
}

label[for="weight"],
label[for="height"],
label[for="eye_color"],
label[for="hair_color"] {
    grid-column: 1 / 2;
}

input#weight,
input#height,
input#eye_color,
input#hair_color {
    grid-column: 2 / 3;
}

/* The rest of your CSS code */
body {
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: #444;
}

h1 {
    text-align: center;
    font-size: 36px;
    margin-top: 120px;
    margin-bottom: 20px;
}

h2 {
    text-align: center;
    font-size: 18px;
    margin-top: 30px;
    margin-bottom: 20px;
    font-weight: lighter;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
}

input[type="submit"],
button {
    display: block;
    width: 100%;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

input[type="submit"] {
    background-color: #3da7fd;
    color: #fff;
}

button {
    background-color: #ddd;
    color: #444;
}

button:hover,
input[type="submit"]:hover {
    background-color: #fdc639;
}

input:focus {
    outline: none;
    border-color: #f7e562;
    box-shadow: 0 0 5px rgba(62, 142, 65, 0.5);
}

.two-column-form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
}