body {
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: #444;
}

h1 {
    text-align: center;
    font-size: 36px;
    margin-top: 120px;
    margin-bottom: 20px;
}

h2 {
    text-align: center;
    font-size: 18px;
    margin-top: 30px;
    margin-bottom: 20px;
    font-weight: lighter;
}

form {
    max-width: 400px;
    margin: 0 auto;
    margin-top: 50px;
    padding: 30px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    margin-bottom: 20px;
    box-sizing: border-box;
}

input[type="submit"],
button {
    display: block;
    width: 100%;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

input[type="submit"] {
    background-color: #3da7fd;
    color: #fff;
}

button {
    background-color: #ddd;
    color: #444;
}

button:hover,
input[type="submit"]:hover {
    background-color: #3da7fd;
}

input:focus {
    outline: none;
    border-color: #3da7fd;
    box-shadow: 0 0 5px rgba(62, 142, 65, 0.5);
}